<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowUserScaling</key>
	<integer>1</integer>
	<key>createOfflineApplicationCache</key>
	<false/>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>238</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>fonts</key>
	<array/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2013-11-19T00:52:53Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>106</real>
		<key>mainWindowFrame</key>
		<string>223 175 725 697 0 0 1440 878 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>440</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>5.1.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>mobileStatusBarStyle</key>
	<integer>0</integer>
	<key>oidCounter</key>
	<integer>13</integer>
	<key>resourcesInfo</key>
	<dict>
		<key>groups</key>
		<array/>
		<key>resources</key>
		<array>
			<dict>
				<key>bookmark</key>
				<data>
				Ym9va2QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAIAAAUAAAABAQAAVXNlcnMA
				AAAGAAAAAQEAAG9tYXI5MQAACQAAAAEBAABEb3dubG9h
				ZHMAAAALAAAAAQEAAGJhbm5lcjIucG5nABAAAAABBgAA
				BAAAABQAAAAkAAAAOAAAAAgAAAAEAwAAkWQCAAAAAAAI
				AAAABAMAAOTpBgAAAAAACAAAAAQDAADn6QYAAAAAAAgA
				AAAEAwAAnYUnAAAAAAAQAAAAAQYAAGQAAAB0AAAAhAAA
				AJQAAAAIAAAAAAQAAEG4NwaaAAAAGAAAAAECAAABAAAA
				AAAAAA8AAAAAAAAAAAAAAAAAAAAEAAAAAwMAAAIAAAAE
				AAAAAwMAAPUBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgA
				AAAEAwAAAHCiR3QAAAAIAAAAAAQAAEG4AGuAAAAAJAAA
				AAEBAAAzNDQzNjkxQy0xN0Y5LTM5NzUtQjc0Ni05Mjcx
				NjIwODg1ODIYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAA
				AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMD
				AAAAAQAAtAAAAAECAAAxMjgwODVjNjE2NWFkMmVjNGRm
				Zjc2ZmZjNzI3NDRjZjA1MjAyNzAxOzAwMDAwMDAwOzAw
				MDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxl
				LmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7
				MDEwMDAwMDI7MDAwMDAwMDAwMDI3ODU5ZDsvdXNlcnMv
				b21hcjkxL2Rvd25sb2Fkcy9iYW5uZXIyLnBuZwDMAAAA
				/v///wEAAAAAAAAAEAAAAAQQAABMAAAAAAAAAAUQAACk
				AAAAAAAAABAQAADMAAAAAAAAAEAQAAC8AAAAAAAAAAIg
				AACEAQAAAAAAABAgAAAEAQAAAAAAABEgAAA4AQAAAAAA
				ABIgAAAYAQAAAAAAABMgAAAoAQAAAAAAACAgAABkAQAA
				AAAAADAgAACQAQAAAAAAAAHAAADsAAAAAAAAABHAAAAU
				AAAAAAAAABLAAAD4AAAAAAAAABDQAACYAQAAAAAAAIDw
				AACkAQAAAAAAAA==
				</data>
				<key>fileModificationDate</key>
				<date>2013-11-16T01:49:14Z</date>
				<key>fileSize</key>
				<integer>234859</integer>
				<key>md5</key>
				<string>418401D46F12699D520AD0AEE0BDD75C</string>
				<key>notifyOnBookmarkChange</key>
				<true/>
				<key>originalPath</key>
				<string>/Users/omar91/Downloads/banner2.png</string>
				<key>resourceName</key>
				<string>banner2.png</string>
				<key>shouldIncludeInDocumentHeadHTML</key>
				<false/>
				<key>shouldPreload</key>
				<true/>
				<key>shouldRemoveWhenNoLongerReferenced</key>
				<true/>
				<key>type</key>
				<string>FileResource</string>
			</dict>
			<dict>
				<key>bookmark</key>
				<data>
				Ym9va3ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAbAIAAAUAAAABAQAAVXNlcnMA
				AAAGAAAAAQEAAG9tYXI5MQAACQAAAAEBAABEb3dubG9h
				ZHMAAAAQAAAAAQEAAGtpd2lMb2dvSWNvbi5wbmcQAAAA
				AQYAAAQAAAAUAAAAJAAAADgAAAAIAAAABAMAAJFkAgAA
				AAAACAAAAAQDAADk6QYAAAAAAAgAAAAEAwAA5+kGAAAA
				AAAIAAAABAMAALrLJAAAAAAAEAAAAAEGAABoAAAAeAAA
				AIgAAACYAAAACAAAAAAEAABBuDHcowAAABgAAAABAgAA
				AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAABAAAAAMDAAAC
				AAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2gg
				SEQIAAAABAMAAABwokd0AAAACAAAAAAEAABBuABrgAAA
				ACQAAAABAQAAMzQ0MzY5MUMtMTdGOS0zOTc1LUI3NDYt
				OTI3MTYyMDg4NTgyGAAAAAECAACBAAAAAQAIAO8XAAAB
				AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQA
				AAADAwAAAAEAALkAAAABAgAAMGI4YmY5M2ViZjU1MzBm
				YTUwM2RmZDNjYTE3MTIyNTExZjRhODY4OTswMDAwMDAw
				MDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5h
				cHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAw
				MDAxOzAxMDAwMDAyOzAwMDAwMDAwMDAyNGNiYmE7L3Vz
				ZXJzL29tYXI5MS9kb3dubG9hZHMva2l3aWxvZ29pY29u
				LnBuZwAAAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABQ
				AAAAAAAAAAUQAACoAAAAAAAAABAQAADQAAAAAAAAAEAQ
				AADAAAAAAAAAAAIgAACIAQAAAAAAABAgAAAIAQAAAAAA
				ABEgAAA8AQAAAAAAABIgAAAcAQAAAAAAABMgAAAsAQAA
				AAAAACAgAABoAQAAAAAAADAgAACUAQAAAAAAAAHAAADw
				AAAAAAAAABHAAAAUAAAAAAAAABLAAAD8AAAAAAAAABDQ
				AACcAQAAAAAAAIDwAACoAQAAAAAAAA==
				</data>
				<key>fileModificationDate</key>
				<date>2013-11-12T03:48:51Z</date>
				<key>fileSize</key>
				<integer>565811</integer>
				<key>md5</key>
				<string>C679FEEDCAF3467567975555E1042A3D</string>
				<key>notifyOnBookmarkChange</key>
				<true/>
				<key>originalPath</key>
				<string>/Users/omar91/Downloads/kiwiLogoIcon.png</string>
				<key>resourceName</key>
				<string>kiwiLogoIcon.png</string>
				<key>shouldIncludeInDocumentHeadHTML</key>
				<false/>
				<key>shouldPreload</key>
				<true/>
				<key>shouldRemoveWhenNoLongerReferenced</key>
				<true/>
				<key>type</key>
				<string>FileResource</string>
			</dict>
			<dict>
				<key>bookmark</key>
				<data>
				Ym9va2wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAaAIAAAUAAAABAQAAVXNlcnMA
				AAAGAAAAAQEAAG9tYXI5MQAACQAAAAEBAABEb3dubG9h
				ZHMAAAANAAAAAQEAAGtpd2lmaW5hbC5wbmcAAAAQAAAA
				AQYAAAQAAAAUAAAAJAAAADgAAAAIAAAABAMAAJFkAgAA
				AAAACAAAAAQDAADk6QYAAAAAAAgAAAAEAwAA5+kGAAAA
				AAAIAAAABAMAAEVrLAAAAAAAEAAAAAEGAABoAAAAeAAA
				AIgAAACYAAAACAAAAAAEAABBuDrX2gAAABgAAAABAgAA
				AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAABAAAAAMDAAAC
				AAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2gg
				SEQIAAAABAMAAABwokd0AAAACAAAAAAEAABBuABrgAAA
				ACQAAAABAQAAMzQ0MzY5MUMtMTdGOS0zOTc1LUI3NDYt
				OTI3MTYyMDg4NTgyGAAAAAECAACBAAAAAQAIAO8XAAAB
				AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQA
				AAADAwAAAAEAALYAAAABAgAAMTE5ZDFmNDlhY2NlYjll
				ODM2ZjQwMzZmNDAxNzEyOWQwMjViNjE4MjswMDAwMDAw
				MDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5h
				cHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAw
				MDAxOzAxMDAwMDAyOzAwMDAwMDAwMDAyYzZiNDU7L3Vz
				ZXJzL29tYXI5MS9kb3dubG9hZHMva2l3aWZpbmFsLnBu
				ZwAAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAFAAAAAA
				AAAABRAAAKgAAAAAAAAAEBAAANAAAAAAAAAAQBAAAMAA
				AAAAAAAAAiAAAIgBAAAAAAAAECAAAAgBAAAAAAAAESAA
				ADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAA
				ICAAAGgBAAAAAAAAMCAAAJQBAAAAAAAAAcAAAPAAAAAA
				AAAAEcAAABQAAAAAAAAAEsAAAPwAAAAAAAAAENAAAJwB
				AAAAAAAAgPAAAKgBAAAAAAAA
				</data>
				<key>fileModificationDate</key>
				<date>2013-11-18T23:18:50Z</date>
				<key>fileSize</key>
				<integer>301577</integer>
				<key>md5</key>
				<string>51A9D120B135FFF88778724E67FE6B06</string>
				<key>notifyOnBookmarkChange</key>
				<true/>
				<key>originalPath</key>
				<string>/Users/omar91/Downloads/kiwifinal.png</string>
				<key>resourceName</key>
				<string>kiwifinal.png</string>
				<key>shouldIncludeInDocumentHeadHTML</key>
				<false/>
				<key>shouldPreload</key>
				<true/>
				<key>shouldRemoveWhenNoLongerReferenced</key>
				<true/>
				<key>type</key>
				<string>FileResource</string>
			</dict>
		</array>
	</dict>
	<key>sceneSize</key>
	<string>{1034, 252}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>1.5333333015441895</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1074, 672}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>12</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>118px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>kiwifinal.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>97px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>337px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>3.63754</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string></string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>353px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>9</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>kiwifinal</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>309px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>1124px</string>
						</dict>
					</array>
					<key>2</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>banner2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>1034px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>3.99228</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>259px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>banner2.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>259px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>1034px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>-3px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>-264px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>kiwiLogoIcon.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>UsingMotionPaths</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>180px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>436.5px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>MotionPathRotation</string>
							<key>objectValue</key>
							<string>92deg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>181px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>kiwiLogoIcon</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>573px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>573px</string>
						</dict>
					</array>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>1.5333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>46px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>motionPath</key>
								<dict>
									<key>bezierCurves</key>
									<array>
										<dict>
											<key>endControlPoint</key>
											<string>{513, 136}</string>
											<key>endPoint</key>
											<string>{513, 136}</string>
											<key>startControlPoint</key>
											<string>{527, -174}</string>
											<key>startPoint</key>
											<string>{527, -174}</string>
										</dict>
									</array>
									<key>oid</key>
									<string>FC8B3CBE-4D8C-4F11-A2CB-A426B790038B-2737-00000D99E181F2FF</string>
								</dict>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>-264px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>9EFA76F2-AC26-4F1E-B713-BF6413893678-2737-00000D27D777DEA7</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.5333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>422.5px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>motionPath</key>
								<dict>
									<key>bezierCurves</key>
									<array>
										<dict>
											<key>endControlPoint</key>
											<string>{513, 136}</string>
											<key>endPoint</key>
											<string>{513, 136}</string>
											<key>startControlPoint</key>
											<string>{527, -174}</string>
											<key>startPoint</key>
											<string>{527, -174}</string>
										</dict>
									</array>
									<key>oid</key>
									<string>FC8B3CBE-4D8C-4F11-A2CB-A426B790038B-2737-00000D99E181F2FF</string>
								</dict>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>436.5px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>C8685369-61D3-4780-85CF-D275588C596E-2737-00000D2818462215</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.5333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>MotionPathRotation</string>
									<key>objectValue</key>
									<string>92deg</string>
								</dict>
								<key>identifier</key>
								<string>MotionPathRotation</string>
								<key>isRelative</key>
								<false/>
								<key>motionPath</key>
								<dict>
									<key>bezierCurves</key>
									<array>
										<dict>
											<key>endControlPoint</key>
											<string>{513, 136}</string>
											<key>endPoint</key>
											<string>{513, 136}</string>
											<key>startControlPoint</key>
											<string>{527, -174}</string>
											<key>startPoint</key>
											<string>{527, -174}</string>
										</dict>
									</array>
									<key>oid</key>
									<string>FC8B3CBE-4D8C-4F11-A2CB-A426B790038B-2737-00000D99E181F2FF</string>
								</dict>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>MotionPathRotation</string>
									<key>objectValue</key>
									<string>92deg</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>7CE7B34B-A827-42A3-BBFE-83DA30AD0E80-2737-00000D9A7EF9DA7A</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.5333333015441895</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.716155</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>F7E8CDBB-CF70-4150-A1B1-6C018313DFF9-2737-00000D9B46C62B3A</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.5333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.716155</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>70473C33-5EC1-4B5B-8611-61322D17F574-2737-00000D9B46CFB5CE</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>motionPath</key>
								<dict>
									<key>bezierCurves</key>
									<array>
										<dict>
											<key>endControlPoint</key>
											<string>{527, -170}</string>
											<key>endPoint</key>
											<string>{527, -170}</string>
											<key>startControlPoint</key>
											<string>{513, 136}</string>
											<key>startPoint</key>
											<string>{513, 136}</string>
										</dict>
									</array>
									<key>oid</key>
									<string>B39FD3C7-8300-4325-A903-3497BF270493-2737-00000D9A7F09390B</string>
								</dict>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.5333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>422.5px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>189AD84F-6349-44E1-8254-5FDD39A398DD-2737-00000D8F3E90DEA3</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>motionPath</key>
								<dict>
									<key>bezierCurves</key>
									<array>
										<dict>
											<key>endControlPoint</key>
											<string>{527, -170}</string>
											<key>endPoint</key>
											<string>{527, -170}</string>
											<key>startControlPoint</key>
											<string>{513, 136}</string>
											<key>startPoint</key>
											<string>{513, 136}</string>
										</dict>
									</array>
									<key>oid</key>
									<string>B39FD3C7-8300-4325-A903-3497BF270493-2737-00000D9A7F09390B</string>
								</dict>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.5333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>46px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>3EB0EB68-6FD3-4DC5-AB93-101169869E29-2737-00000D8F3E9C3D55</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>MotionPathRotation</string>
								<key>isRelative</key>
								<false/>
								<key>motionPath</key>
								<dict>
									<key>bezierCurves</key>
									<array>
										<dict>
											<key>endControlPoint</key>
											<string>{527, -170}</string>
											<key>endPoint</key>
											<string>{527, -170}</string>
											<key>startControlPoint</key>
											<string>{513, 136}</string>
											<key>startPoint</key>
											<string>{513, 136}</string>
										</dict>
									</array>
									<key>oid</key>
									<string>B39FD3C7-8300-4325-A903-3497BF270493-2737-00000D9A7F09390B</string>
								</dict>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.5333333015441895</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>MotionPathRotation</string>
									<key>objectValue</key>
									<string>92deg</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>C0B6E19E-20AB-4430-8763-0A203222B8BE-2737-00000D9A7F080F61</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{230, 162}</string>
			<key>selectedObjects</key>
			<array/>
			<key>showTimelineActions</key>
			<false/>
			<key>splitHeight</key>
			<real>440</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>showTapHighlight</key>
	<integer>1</integer>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>useTouchEvents</key>
	<true/>
	<key>viewportOption</key>
	<integer>0</integer>
	<key>webAppCapable</key>
	<integer>0</integer>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
