.ui-icon-person {
	background-image: url('images/cart3.png');
	background-color: rgba(0, 0, 0, 0);
	    border: none;
    box-shadow: none;
	width:16px;
	height: 16px;
	outline: 0;
	/* margin-top: -11px !important; /* adjust vertical position (top value is set to 50%) */
    -webkit-box-shadow: none;
	}
